form {
    padding-top: 5%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid green;
}

input[type="submit"] {
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
h2{
    padding-top: 15px;
    text-align: center;
    color: blue;
}