h2{
    text-align: center;
}
#cameraButton {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#cameraButton:hover {
    background-color: #2980b9;
}

#videoElement {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}