*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
img{
    border: none;
    vertical-align: top;
}
a:link{
    text-decoration: none;
    color: #9999ff;
}
a:visited{
    color: #ff7f7f;
}
a:hover{
    color: #ff0000;
}
header{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7d4ec;
}
h1{
padding: 0 5px 0 5px;
}
nav ul, li {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight:  bold;
}
main{
    max-width: 1200px;
    margin: 0 auto 0 auto;
    min-height: 480px;
}

footer img{
    padding-top: 5px;
}
footer{
    width: 100%;
    padding: 0;
    background-color: #a7d4ec;
    text-align: center;
}
.sns-icons{
    width: 100%;
}
.sns-icons img{
   margin: 5px;
}
.menu-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.item{
    width: 20%;
    max-height: 200px;
    min-height: 200px;
    margin: 5px;
    border: 2px solid #ddd; /* Thiết lập màu đường viền nhạt hơn */
    border-radius: 8px; /* Thêm độ cong cho góc đường viền */
    overflow: hidden; /* Đảm bảo độ cong của đường viền được áp dụng cho hình ảnh */
    transition: border 0.3s ease; /* Thêm hiệu ứng chuyển động cho trải nghiệm mượt mà */
}
.item-image{
    width: 100%;
}
.item-info{
    padding: 5px 0 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    font-weight: bold;
}
.search1 {
    border-radius: 15px;
    border: 15px solid #ccc;
    padding: 5px;
    /* Thêm các thuộc tính kiểu khác nếu cần */
}